<html>
<head>
    <title>
        <%=title%>
    </title>
    
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>   
<body>
       <h1 id="page-heading">
        <i class="fa-regular fa-address-book"></i>
        My Contact List</h1>  
    <div>
       <ul>
        <% for(let i of contact_list) {%>
              
            <li id="contact-list">
                <div class="details">
                <p id="contact-name"><%= i.name%></p>
                <p id="contact-phone"><%= i.phone%></p>
                
            </div>

            <div class="delete-button">
 <a href="/delete-contact/?id=<%= i._id%>">
    <i class="fa-solid fa-trash"></i>

 </a>

 <!-- <a href="/edit-contact/?id=<%= i._id%>">
    <i class="fa fa-edit"></i>
 </a> -->
            </div>

            </li>
 
        <% }%>
       </ul>
       </div>

       <form action="/create-contact" method="post" id="input-form">
          <input type="text" name="name" placeholder="Enter Your Name" required>
          <input type="number" name="phone" placeholder="Enter PhoneNumber" required>
          <button type="submit" class="button">Add Contact</button>
       </form>

       <script src="https://kit.fontawesome.com/493202eef4.js" crossorigin="anonymous"></script>
       <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>